addict==2.4.0
dominate==2.7.0
imgaug==0.4.0
imgaug.egg==info
lmdb==1.3.0
matplotlib==3.5.2
nltk==3.7
numpy==1.22.3
opencv_python==4.5.5.64
part_of_hitogata.egg==info
Pillow==9.2.0
py3nvml==0.2.7
pyclipper==1.3.0.post2
pycocotools==2.0.4
scipy==1.8.0
setuptools==49.2.1
Shapely==1.8.2
six==1.15.0
text_renderer.egg==info
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
visdom==0.1.8.9
